
html
  head
    title= title
    
       
  body
    h1= message
    p este se deberia desaparecer
    button algo
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js").
    script.
        $(document).ready(function(){
            $("button").click(function(){
                $("p").hide();
            });
            $.ajax({
                method: "POST",
                url: "auction",
                data: { name: "John", location: "Boston" }
            }).done(function( msg ) {
                alert( "Data Saved: " + JSON.stringify(msg) );
            })
        });